<launch>

  <node name = "az_motor_lock_cmd_writer"
        type = "relay.py"
        pkg = "necst-telescope">
    <param name = "config_file"
           value = "$(find necst-telescope)/relay_conf/az_motor_lock_cmd_writer.conf" />
  </node>

  <node name = "el_motor_lock_cmd_writer"
        type = "relay.py"
        pkg = "necst-telescope">
    <param name = "config_file"
           value = "$(find necst-telescope)/relay_conf/el_motor_lock_cmd_writer.conf" />
  </node>

</launch>
