<launch>

  <node name = "az_commander_pid"
        type = "antenna_az_commander_pid.py"
        pkg = "necst-telescope">
        <param name="~p_coeff" value="2" />
        <param name="~i_coeff" value="0" />
        <param name="~d_coeff" value="0" />
        <param name="~gear_ratio" value="7200" />
        <param name="~palthper360deg" value="8192" />
        <param name="~MOTOR_MAXSTEP" value="32767.5" />
        <param name="~MOTOR_AZ_MAXSPEED" value="320000" />
  </node>

  <node name = "el_commander_pid"
        type = "antenna_el_commander_pid.py"
        pkg = "necst-telescope">
        <param name="~p_coeff" value="2" />
        <param name="~i_coeff" value="0" />
        <param name="~d_coeff" value="0" />
        <param name="~gear_ratio" value="7200" />
        <param name="~palthper360deg" value="8192" />
        <param name="~MOTOR_MAXSTEP" value="32767.5" />
        <param name="~MOTOR_EL_MAXSPEED" value="320000" />
  </node>

</launch>
