<launch>

  <node name = "az_soft_limit"
        type = "relay.py"
        pkg = "necst-telescope">
    <param name = "config_file"
           value = "$(find necst-telescope)/relay_conf/antenna_az_soft_limit.conf" />
  </node>

  <node name = "az_cmd_writer"
        type = "relay.py"
        pkg = "necst-telescope">
    <param name = "config_file"
           value = "$(find necst-telescope)/relay_conf/antenna_az_cmd_writer.conf" />
  </node>
  
  <node name = "az_reader"
        type = "relay.py"
        pkg = "necst-telescope">
    <param name = "config_file"
           value = "$(find necst-telescope)/relay_conf/encoder_az_reader.conf" />
	<remap from = '/dev/ND287/__port__/az' to = '/dev/ND287/ttyUSB0/az'/> 
  </node>

  <node name = "el_soft_limit"
        type = "relay.py"
        pkg = "necst-telescope">
    <param name = "config_file"
           value = "$(find necst-telescope)/relay_conf/antenna_el_soft_limit.conf" />
  </node>

  <node name = "el_cmd_writer"
        type = "relay.py"
        pkg = "necst-telescope">
    <param name = "config_file"
           value = "$(find necst-telescope)/relay_conf/antenna_el_cmd_writer.conf" />
  </node>

  <node name = "el_reader"
        type = "relay.py"
        pkg = "necst-telescope">
    <param name = "config_file"
           value = "$(find necst-telescope)/relay_conf/encoder_el_reader.conf" />
        <remap from = '/dev/ND287/__port__/el' to = '/dev/ND287/ttyUSB1/el'/>
  </node>

</launch>
