<launch>

  <node name = "az_necst_1p85"
        type = "relay.py"
        pkg = "necst-telescope">
    <param name = "config_file"
           value = "$(find necst-telescope)/relay_conf/az_necst_1p85m.conf" />
  </node>

  <node name = "el_necst_1p85"
        type = "relay.py"
        pkg = "necst-telescope">
    <param name = "config_file"
           value = "$(find necst-telescope)/relay_conf/el_necst_1p85m.conf" />
  </node>

</launch>
