<launch>

    <include file="$(find necst-telescope)/launch/planet2refracted.launch" />
    <include file="$(find necst-telescope)/launch/refracted2apparent.launch" />
    <include file="$(find necst-telescope)/launch/wcs2refracted.launch" />
    <include file="$(find necst-telescope)/launch/azel2refracted.launch" />

</launch>
