<launch>

    <include file="$(find necst-telescope)/launch/antenna_pid.launch" />
    <include file="$(find necst-telescope)/launch/antenna_relay.launch" />
    <include file="$(find necst-telescope)/launch/antenna_tracking_check.launch" />
    <include file="$(find necst-telescope)/launch/antenna_2nd_soft_limit.launch" />
    <include file="$(find necst-telescope)/launch/necst_coordinate.launch" />

</launch>
